<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadras Amadoras</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Reserve Quadras de Futebol Amador</h1>
        <nav>
            <a href="/views/index.html">Home</a>
            <a href="/views/search.html">Buscar Quadras</a>
            <a href="/views/register.html">Cadastre-se</a>
        </nav>
    </header>
    <footer>
        <p>&copy; 2025 Quadras Amadoras</p>
    </footer>
</body>
</html>