<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Quadras</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Busca de Quadras</h1>
        <nav>
            <a href="/views/index.html">Home</a>
            <a href="/views/search.html">Buscar Quadras</a>
            <a href="/views/register.html">Cadastre-se</a>
        </nav>
    </header>
        <section id="results">
            <main>
                <section>
                    <h2>Encontre quadras perto de você!</h2>
                    <form action="/search" method="GET">
                        <input type="text" name="location" placeholder="Digite sua cidade" required>
                        <input type="date" name="date" required>
                        <button type="submit" formaction="/views/search.html">Buscar</button>
                    </form>
                    </form>
                </section>
            </main>
            <!-- Resultados da busca serão carregados aqui -->
        </section>
    <footer>
        <p>&copy; 2025 Quadrinha</p>
    </footer>
    <script src="/js/search.js"></script>
</body>
</html>